footer {
  /*padding: 2rem;*/
  background-color: #01153A;
  font-size: var(--body-font-size-s);
}

footer .footer {
  /*max-width: 1200px;*/
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .footer .section > div {
  width:100%;
}

footer .footer img {
  width: 100%;
  height: auto;
  object-fit: cover;
}