/* stylelint-disable max-line-length */
@font-face{
  font-display:swap;
  font-family: Jotia Light;
  font-style:normal;
  font-weight:100;
  src:local("Jotia Light"),url(../fonts/jotia_light.woff) format("woff");
}

@font-face{
  font-display:swap;
  font-family: Jotia Thin;
  font-style:normal;
  font-weight:100;
  src:local("Jotia Thin"),url(../fonts/jotia_thin.woff) format("woff");
}


/* stylelint-disable max-line-length */
@font-face{
  font-display:swap;
  font-family: Adobe Bold;
  font-style:normal;
  font-weight:100;
  src:local("Adobe Bold"),url(../fonts/adobe-bold.woff2) format("woff2");
}

@font-face{
  font-display:swap;
  font-family: Adobe Regular;
  font-style:normal;
  font-weight:100;
  src:local("Adobe Regular"),url(../fonts/adobe.woff2) format("woff2");
}